# app/src/main/resources/application.yml
spring:
  application:
    name: cargo-core-api

  # 프로필별 설정 활성화
  profiles:
    active: local

  # .env 파일 import
  config:
    import:
      - optional:file:.env[.properties]
      - db-core.yml


  flyway:
    enabled: true
    baseline-on-migrate: true
    validate-on-migrate: false  # 임시로 validation 비활성화
    locations: classpath:db/migration

server:
  port: 8080
  tomcat:
    max-connections: 20000
    threads:
      max: 600
      min-spare: 100

---
spring:
  config:
    activate:
      on-profile: local

---
spring:
  config:
    activate:
      on-profile: local-dev

---
spring:
  config:
    activate:
      on-profile: dev

---
spring:
  config:
    activate:
      on-profile: staging

---
spring:
  config:
    activate:
      on-profile: live